:root {
  --primary-clr: #FFE606;
  --white-clr: #ffffff;
}

/* CSS reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
/* Utilities */
.bg-warning {
  background: var(--primary-clr) !important;
}
main {
  height: 100vh;
}

/* Color Section */

.color-section, .form-section {
  padding: 60px 80px;
  font-weight: 500 !important;
}
.color-section h2,
.form-section h1 {
  font-weight: 600 !important;
font-size: 48px !important;
line-height: 58px;
}
.color-section p {
  font-size: 20px !important;
  line-height: 24px;
}

/* Form Section */

.form-label {
  font-size: 24px !important;
  line-height: 29px !important;
}
.form-label::placeholder {
  font-size: 24px !important;
    color: rgba(0, 0, 0, 0.38) !important;
    
}
form input {
    border: none !important;
    border-bottom: 2px solid var(--primary-clr) !important;
    border-radius: 0 !important;
    padding-left: 0 !important;
}
form input:focus {
  background-color: beige;
  outline: none !important;
}

/* Button */
.btn-grp button, .btn-grp a{
  font-size: 24px !important;
line-height: 44px;
padding: 10px 42px;
border-radius: 50px !important;

}

.btn-warning {
  background-color: var(--primary-clr);
}

.btn-light {
  background-color: var(--white-clr);
  border: 1px solid var(--primary-clr);
  color: var(--primary-clr);
}
.border-btn {
  border-top: 2px solid var(--primary-clr);
}

